/* VARIABILI CSS */
:root {
    --header-height: 3.5rem;
    /* COLORS */
    --black-color: hsl(0,0%,5%);
    --black-color-light: hsl(0,0%,70%);
    --white-color: hsl(0,0%, 100%);
    --title-color: hsl(0,0%,5%);
    --text-color: hsl(0,0%,55%);
    --body-color: hsl(0,0%,96%);

    /* FONT */
    --body-font: 'Poppins', sans-serif;
    --second-font: 'Syncopate', sans-serif;
    --biggest-font-size: 2.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    --font-regular: 400;
    --font-bold: 700;

    /* zIndex */
    --z-tooltip: 10;
    --z-fixed: 100;

}

/* RESPONSIVE */
@media screen and (min-width: 1152px) {
    :root {
        --biggest-font-size: 4.5rem;
        --h2-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}


/* BASE */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color:var(--body-color);
    color: var(--text-color);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}



/* class css reusable */
.container{
    max-width: 1120px;
    margin-inline: 1.5rem;
}
.py{
  padding-top: 150px;
  padding-bottom: 200px;
}



/* HEADER & NAV */
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
}

.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.nav__logo img{
    width: 3rem;
}

.nav__toggle,
.nav__close{
    display: flex;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
}

/* Navigation for mobile */
@media screen and (max-width: 1023px) {
    .nav__menu{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--body-color);
        box-shadow: -1px 0 16px hsla(0, 0%, 0%, .1);
        width: 80%;
        height: 100%;
        padding: 6rem 3rem;
        transition: right .4s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav__link{
    color: var(--title-color);
    font-family: var(--second-font);
}

.nav__close{
    position: absolute;
    top: 1.125rem;
    right: 1.5rem;
}

/* Show menu */
.show-menu{
    right: 0;
  }



/* HOME */
.home__container{
    position: relative;
    display: grid;
    row-gap: 2rem;
    padding-block: 7rem 4rem;
}


.home__subtitle,
.home__title,
.home__button{
    font-family: var(--second-font);
    color: var(--title-color);
}
.home__title-pages{
  font-family: var(--second-font);
  color: var(--title-color);
  text-align: center;
  padding: 2rem;

}

.home__subtitle{
    font-size: var(--h2-font-size);
    margin-bottom: .5rem;
}

.home__title{
    font-size: var(--biggest-font-size);
    margin-bottom: 1.7rem;
}

.home__description{
    font-size: var(--small-font-size);
    margin-bottom: 2rem;
}

.home__button{
    display: inline-block;
    background-color: var(--white-color);
    box-shadow: 0 8px 32px hsla(0, 0%, 0%, .1);
    padding: 1rem 3rem;
    border-radius: 4rem;
    font-weight: var(--font-bold);
    transition: box-shadow .4s;
}

.home__button:hover{
    box-shadow: 0 8px 32px hsla(0, 0%, 0%, .35);
}


.home__social{
    position: absolute;
    top: 9rem;
    right: 0;
    display: grid;
    row-gap: 1rem;

}

.home__social-link{
    display: inline-flex;
    font-size: 1.25rem;
    color: var(--title-color);
    transition: transform .4s;
}

.home__social-link:hover{
    /* transform: translateY(-.25rem); */
    transform: rotate(1turn);
}

.home__images{
    display: grid;
    position: relative;
}

.home__shoe{
    width: 300px;
    margin-inline: auto;
}

.home__circle{
    width: 250px;
    height: 250px;
    color: white;
    background: linear-gradient(180deg, hsl(0, 0%, 100%), hsl(0 , 0%, 96%));
    border-radius: 50%;
    position: absolute;
    inset: 0;
    margin: auto;
}

/* Swiper class */
.swiper {
    margin-inline: initial;
  }
  
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -2rem;
  }
  
  .swiper-pagination-bullet {
    width: 1rem;
    height: .25rem;
    border-radius: 1rem;
    background-color: var(--black-color-light);
    opacity: 1;
    transition: background-color .3s, width .3s;
  }
  
  .swiper-pagination-bullet-active {
    width: 1.25rem;
    background-color: var(--black-color);
  }
  
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 2px;
  }


    /*------------------------------ footer -----------------*/
.footer__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 1.5rem;
  display: grid;
}

.footer__logo {
  width: 2rem;
}

.footer__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 1rem;
}

.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}

.footer__link {
  color: var(--text-color);
}

.footer__link:hover {
  color: var(--title-color);
}

.footer__form {
  display: flex;
  column-gap: .5rem;
  background-color: var(--body-color);
  padding: .5rem .75rem;
  border-radius: .5rem;
  margin-bottom: .5rem;
}

.footer__input {
  background-color: var(--body-color);
  width: 90%;
  color: var(--white-color);
}

.footer__input::placeholder {
  color: var(--text-color);
  font-size: var(--normal-font-size);
  font-family: var(--font-regular);
}

.footer__social {
  display: flex;
  column-gap: 1.25rem;
}

.footer__social-link {
  display: inline-flex;
  color: var(--white-color);
  background-color: var(--container-color);
  padding: .5rem;
  border-radius: .25rem;
  font-size: 1rem;
}

.footer__social-link:hover {
  background-color: var(--black-color);
}

.footer__copy {
  margin-top: 2rem;
  text-align: center;
}

.footer__copy-link {
  font-size: var(--normal-font-size);
  color: var(--text-color);
}


/* WAREHOUSE */

.warehouse__container{
  max-width: 1120px;
  margin-inline: 1.5rem;
  /* text-align: center; */
}

.form__container{
  display: grid;
  row-gap: .5rem;
  background-color: var(--body-color);
  padding: .5rem .75rem;
  border-radius: 1.5rem;

}

.input__form{
  background-color: var(--body-color);
  width: 40%;
  /* color: var(--white-color); */
  height: 1.9rem;
  /* border-radius:4%; */
  background-color: var(--white-color);
}

.input__form::placeholder {
  color: var(--text-color);
  font-size: var(--normal-font-size);
  font-family: var(--font-regular);
}

.label__form{
  color: var(--title-color);
  font-size: var(--second-font);
  font-family: var(--font-bold);
}


.btn__form{
  font-size: var(--second-font);
  width: 60%;
  display: inline-block;
  background-color: var(--white-color);
  box-shadow: 0 8px 32px hsla(0, 0%, 0%, .1);
  padding: .5rem 1rem;
  border-radius: 4rem;
  font-weight: var(--font-bold);
  transition: box-shadow .4s;
}

.btn__form:hover{
  box-shadow: 0 8px 32px hsla(0, 0%, 0%, .35);
}


/* CARD-SHOP */

.card__container{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.card {

  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 1.5rem;
  /* row-gap: 2rem; */
}

.card-image {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 16px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}



.card__button{
  display: inline-block;
  margin-top: 7px;
  background-color: var(--white-color);
  padding: 1rem 3rem;
  border-radius: 2rem;
  font-weight: var(--normal-font-size);
  color: var(--title-color);
  font-family: var(--second-font);
}

.card__text{
  color: var(--title-color);
  font-family: var(--second-font);

}




/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
    .container {
      margin-inline: 1rem;
    }
  
    .home__title {
      font-size: 2rem;
      
    }
    .home__circle {
      width: 220px;
      height: 220px;
    }
  }
  
  /* For medium devices */
  @media screen and (min-width: 576px) {
    .nav__menu {
      width: 60%;
    }
    .home__container {
      grid-template-columns: 350px;
      justify-content: center;
    }
    .home__data {
      text-align: center;
    }
    .footer__container {
      grid-template-columns: .4fr .7fr .7fr 1fr;
    }
    .card__container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  
      }
  }
  
  /* For large devices */
  @media screen and (min-width: 1023px) {
    .nav {
      height: calc(var(--header-height) + 2rem);
    }
    .nav__toggle, 
    .nav__close {
      display: none;
    }
    .nav__menu {
      width: initial;
    }
    .nav__list {
      flex-direction: row;
      column-gap: 4rem;
    }
  
    .home__container {
      height: 100vh;
      grid-template-columns: repeat(2, 400px);
      place-items: center;
      column-gap: 2rem;
    }
    .home__data {
      text-align: initial;
    }
    .home__social {
      align-content: center;
      top: 0;
      bottom: 0;
    }
    .footer__container {
      padding-top: 3rem;
    }
    .footer__copy {
      margin-top: 9rem;
    }
  }
  
  @media screen and (min-width: 1152px) {
    .container {
      margin-inline: auto;
    }
  
    .home__container {
      grid-template-columns: 430px 600px;
      column-gap: 4.5rem;
    }
    .home__title {
      margin-bottom: 1.25rem;
    }
    .home__description {
      font-size: var(--normal-font-size);
      margin-bottom: 3rem;
    }
    .home__shoe {
      width: 600px;
    }
    .home__circle {
      width: 500px;
      height: 500px;
    }
  }
  
  @media screen and (min-width: 1248px) {
    .home__social {
      right: -3rem;
      row-gap: 2rem;
    }
    .home__social-link {
      font-size: 1.5rem;
    }
  }

